@-webkit-keyframes fade-text {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@-moz-keyframes fade-text {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
.fading_text {
-webkit-animation: fade-text 10s;
-moz-animation: fade-text 10s;
}